
<div class="card-widget">
    <div class="card-icon">{{ icon }}</div>
    <div class="card-info">
        <div class="card-title">{{ title }}</div>
        <div class="card-value">{{ value }}</div>
    </div>
</div>