<nav class="menu">
    <ul>
        <li><a href="{{ url('/painel') }}">Dashboard</a></li>
        <li><a href="{{ url('/utilizadores') }}">Utilizadores</a></li>
        <li><a href="{{ url('/seguranca') }}">Segurança</a></li>
        <li><a href="{{ url('/logout') }}">Sair</a></li>
    </ul>
</nav>
