{% extends "layouts/auth.twig" %}

{% block title %}Autenticação 2FA{% endblock %}

{% block content %}

<form method="post" action="{{ url('/2fa') }}">

    <input type="hidden" name="_csrf" value="{{ csrf }}">

    <div class="form-group">
        <label>Código de Verificação</label>
        <input type="text" name="code" class="form-input" placeholder="000000" required>
    </div>

    <button class="btn-primary">Validar Código</button>

</form>

{% endblock %}