{% extends "layouts/public.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>

{% if flash %}
    <div class="alert alert-{{ flash.tipo }} mb-3">
        {{ flash.mensagem }}
    </div>
{% endif %}

<form method="post" action="{{ url('login') }}">

    <input type="hidden" name="_csrf" value="{{ csrf }}">

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required autofocus>
    </div>

    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <button class="btn btn-primary w-100">Entrar</button>

</form>

{% endblock %}