{% extends 'layouts/login.twig' %}

{% block content %}
<form method="POST" action="/login">
    <input type="hidden" name="_csrf" value="{{ csrf }}">
    <input type="email" name="email" placeholder="Email" required autofocus>
    <input type="password" name="senha" placeholder="Senha" required>
    <button type="submit">Entrar</button>
</form>
    
<div class="footer">
    © {{ "now"|date("Y") }} Gestão Documental
</div>

{% endblock %}


