{% extends "layouts/auth.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="post" action="{{ url('/login') }}">

    <input type="hidden" name="_csrf" value="{{ csrf }}">

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-input" placeholder="O seu email" required>
    </div>

    <div class="form-group">
        <label>Palavra-passe</label>
        <input type="password" name="password" class="form-input" placeholder="A sua palavra-passe" required>
    </div>

    <button class="btn-primary">Entrar</button>

</form>

{% endblock %}