<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body class="login-body">

<div class="login-wrapper">
    <div class="login-card">

        {% include 'partials/flash.twig' %}

        {% block content %}{% endblock %}

    </div>
</div>

</body>
</html>