{% if flash %}
    {% if flash.error %}
        <div class="alert alert-danger">{{ flash.error }}</div>
    {% endif %}

    {% if flash.success %}
        <div class="alert alert-success">{{ flash.success }}</div>
    {% endif %}
{% endif %}