{% extends "layouts/painel.twig" %}

{% block title %}Novo Perfil{% endblock %}

{% block content %}

<h1 class="page-title">Novo Perfil</h1>

<form method="post" action="{{ url('/admin/perfis/criar') }}">
    <div class="form-group">
        <label for="nome">Nome do Perfil</label>
        <input type="text" id="nome" name="nome" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    <a href="{{ url('/admin/perfis') }}" class="btn btn-light mt-3">Cancelar</a>
</form>

{% endblock %}
